[{:itonami.blueprint/social-impact [:worker-safety :environmental-safety :industrial-continuity]
  :itonami.blueprint/domain :manufacturing/plastic-products-scheduling-logistics-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "8142"
  :itonami.blueprint/name "Plastic Products Machine Operators Plant Scheduling and Logistics Coordination Practice"
  :itonami.blueprint/governor :plastic-coord-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-8142"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
